.searchTab{
    -fx-border-color: #DDDDDD;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-background-color: #FFFFFF;
    -fx-padding:  5 35;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
}

.requestTab{
    -fx-border-color: #DDDDDD;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-background-color: #FFFFFF;
    -fx-padding:  5 35;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
}

.editPro{
    -fx-background-color: #000d71;
    -fx-text-fill: #FFFFFF;
}

.search-button {
    -fx-font-size: 11px;
    -fx-font-weight: bold;
    -fx-border-radius: 2px;
    -fx-background-color: #000d71;
}

.white-background{
    -fx-background-color: #FFFFFF;
}